# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "maven"
    target-branch: "main"
    directories:
      - "/" # server
    open-pull-requests-limit: 2
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 3
    groups:
      major-deps:
        update-types:
          - "major"
      minor-deps:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "maven"
    target-branch: "main"
    directories:
      - "/clients/java*/" # any java based client. Separating here so that we get different PRs for server and clients
    open-pull-requests-limit: 2
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 3
    groups:
      major-deps:
        update-types:
          - "major"
      minor-deps:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "github-actions"
    target-branch: "main"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions-deps:
        patterns:
          - "*"
    cooldown:
      default-days: 5
