spring:
  application:
    name: Grayskull
  data:
    mongodb:
      database: grayskull
      uri: mongodb://admin:password@host.docker.internal:37017/admin
      maxConnectionLifeTime: 60 # in minutes
      maxConnectionIdleTime: 10 # in minutes
      maxConnecting: 100

server:
  read-only:
    enabled: false
  error:
    include-binding-errors: always
    include-message: always

grayskull:
  crypto:
    keys:
      key1: wVXG0jhpwG0DwTMt3sQK57hukC1Uhl/yUuvH9GOP3B4=
      key2: LFptkQ/bTpTX4dCoGtZm2BcqMvoUTYJHTvyoF4t0X00=
  projects:
    defaultProject:
      id: default-project
      kmsKeyId: key1
  authorization:
    rules:
      - user: admin
        project: "*"
        actions:
          - "*"
      - user: user1
        project: "*"
        actions:
          - "*"
      - user: editor
        project: "test-project"
        actions:
          - "CREATE_SECRET"
          - "READ_SECRET_METADATA"
          - "READ_SECRET_VALUE"
          - "ADD_SECRET_VERSION"
          - "DELETE_SECRET"
          - "LIST_SECRETS"
      - user: viewer
        project: "test-project"
        actions:
          - "LIST_SECRETS"
          - "READ_SECRET_METADATA"


management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,refresh
  observations:
    annotations:
      enabled: true

swagger:
  ui:
    path: /swagger-ui.html
    enabled: true
    version: 1.0.0
    title: Grayskull API
    description: API for managing secrets in Grayskull
